*{
	box-sizing: border-box;
}
.navbar{
	/*box-shadow: 2px 2px 3px #786AEE !important;*/
/*	box-shadow: 5px 5px 10px 10px #EFEFF1;*/
}
.navbar-custom {
    /*background-color: #1E2D3B;*/
    background-color: white;
    /*box-shadow: 5px 5px 10px 5px #F0F0F2;*/
    /*box-shadow: 5px 5px 2px 2px #EFEFF1;*/
}
nav{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    font-weight: bold;
    font-size: 40px;
    background-color: white;


/*    border: 2px solid yellow;*/
/*    position: absolute;*/
/*    left: 0;*/
    margin-left: 0 !important;
    padding-left: 20 !important;
    height: 100%;
    
}
.navbar .navbar-brand:hover{
    color: black;
    font-weight: bold;
    font-size: 40px;
/*    border-bottom: 4px solid #1E2D3B;*/
    /*border-radius: 10px;*/
    /*box-shadow: 2px 2px 3px #786AEE;*/
    transform: scale(1.);
    transition: transform .5s;
    background-color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #808080;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 15px;
}
.navbar-nav{
/*    margin-left: 500px;*/
}
.nav-link{
/*    margin-right: 70px;*/
}
.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:active{
    color: blue;
    transform: font-weight;
    transition: transform .5s;
    font-weight: normal;
    border-bottom: 2px solid lightyellow;
}
.navbar-nav .mr-auto:hover{
	color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: darkblue;;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 205, 31, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler .navbar-toggler {
  border-color: rgb(237, 205, 31);
} 

.dropdown-menu .dropdown-item{
	color: #6E7A7D;
	font-weight: bold;
	font-size: 15px;
	font-family: sans-serif;
}
.dropdown-menu:hover{
	transform: scale(1.05);
	transition: transform .3s;
}
.dropdown-menu .dropdown-item:active{
	background-color: yellow;
	color: white;
	/*transition: transform .3s;*/
}
.dropdown-menu:hover{
	/*background-color: #786CE3;*/
	color: white;
}
.dropdown-menu .dropdown-item:hover{
	background-color: black;
	color: white;
	font-weight: normal;
	transform: scale(.8);
	transition: transform 1s;
}
.navbar-nav .navbar-item{
	color: #6E7A7D;
	font-weight: bold;
}
.form-inline .btn{
	border-color: yellow;
	color: lightyellow;
}
.form-inline .btn:hover{
	border-color: yellow;
	background-color: #EDCD1F;
	color: black;
	box-shadow: 2px 2px 3px #786AEE;
}
.form-inline .btn:active{
	border-color: lightyellow;
	background-color: yellow;
	color: black;
	box-shadow: 2px 2px 3px #786AEE;
}
.navbar-toggler{
    color: yellow !important;
}
.sticky-top{
	top: 0.1em;
}

.yellow{
/*
    position: absolute;
    left: 220px;
    background-color: yellow;
    height: 100%;
    width: 25px;
*/
}
/*video { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}*/
.parallax{
    clear: both;
    background-image: url("parallax1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
    background-image: url("par1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stopfade { 
   opacity: .5;
}
#text{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:150; 
/*  background: rgba(0,0,0,0.3);*/
  color: white;
  padding: 2rem;
  width: 53%;
  margin:2rem;
/*  float: right;*/
  margin: auto;
    margin-top: -10em;
  font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 2;
    color: black;
}
#extratext{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:50; 
  /*background: rgba(0,0,0,0.3);*/
  color: white;
  padding: 2rem;
  width: 100%;
  /*margin:2rem;*/
/*  float: right;*/
  /*margin: auto;*/
    /*margin-top: 2em;*/
  font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 50;
    letter-spacing: 2px;
    z-index: 2;
    color: black;
    background:none;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    overflow-wrap: break-word;

}
#normal{
    font-weight: normal;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: none;
}
#arrow{
/*    margin-left: 150px;*/
}
#space{
    margin-bottom: 10px;
}
#expertise{
    clear: both;
    background-color: white;
    /*margin-top: 320px;*/
}
#expertise-head{
    font-size: 50px;
    font-weight: bold;
/*    border-bottom: 5px solid black;*/
    text-decoration: underline;
    text-decoration-color: yellow;
/*    width: 280px;*/
    text-transform: uppercase;
    color: gray;
    text-align: center;
    padding-top: 0px; 
    padding-bottom: 20px; 
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
  align-items: stretch;
  margin-left: 300px;
  margin-top: 20px;
  padding-bottom: 10px;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
/*  max-height: 300px;*/
}
#second-grid{
  margin-left: 400px;
  margin-right: 400px;
}
.text1 {
  padding: 0 20px 20px;
  text-align: center;
}
#text1hover{
    text-align: center;
}
#text1hover:hover{
    background-color: #786CE3;
    color: white;
    font-weight: normal;
    transform: scale(.8);
    transition: transform 1s;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
}
#who{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
/*    padding-top: 30px;*/
    grid-gap: 30px;
    padding: 20px;
    padding-top: 60px;
    background-color: white;
}
#who-text-head{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
/*    border-bottom: 5px solid black;*/
    text-decoration: underline;
    text-decoration-color: yellow;
/*    width: 280px;*/
    text-transform: uppercase;
    color: gray;
/*    text-align: center*/
    padding-bottom: 30px;
}
#who-text{
/*    float: left;*/
    background-color: #F7F7F7;
    padding: 20px;
    margin-left: 220px;
}
#who-image{
    background-image: url(j.jpg);
    background-repeat: no-repeat;
    height: 350px;
    width: 450px;
/*    float: right;*/
     min-height: 520px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
#who-image-2{
    background-image: url(e.jpg);
    background-repeat: no-repeat;
    height: 350px;
    width: 450px;
/*    float: right;*/
     min-height: 520px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
        /*width: 300px;*/
    
    
}
#band{
/*    height: 100px;*/
    background-color: #EDCD1F;
}
#band-header{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
/*    border-bottom: 5px solid black;*/
    text-decoration: underline;
    text-decoration-color: yellow;
/*    width: 280px;*/
    text-transform: uppercase;
    color: gray;
/*    text-align: center*/
    padding-bottom: 30px;
    text-align: center;
}
#demo{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.carousel-inner img {
    /*margin-left: 350px;*/
    margin-right: auto;
    width: 90%;
    height: 50vh;
    /*box-shadow: 5px 5px 10px 5px */
    /*box-shadow: 5px 5px 10px 10px #EFEFF1*/
    box-shadow: 5px 10px 10px 2px #888888;
    max-width: 100%;
    /*margin-bottom: 20px;*/
    display: block;
    margin: 0 auto;

  }
#fade-container{
    background-color: white;
    padding-bottom: 50px;
}
#fade{
    padding-top: 50px;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
/*    width: 80%;*/
    grid-gap: 20px;
    justify-content: center;
    
/*  width: 50%;*/
    
}
#fc{
    position: relative;
}
.fc1{
    background-image: url("5.jpg");
    display: block;
  /*height: 200px;*/
  /*width: 300px;*/
  background-color: grey;
  /*margin: 0 auto;*/
  transition: box-shadow 0.1s, transform 0.1s;
  
  /*
    * Adding image to the background
    * No relation to the hover effect.
    */
  /*background-size: 100%;*/
  background-repeat: no-repeat;
}
.fc1:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
}
.fc2{
    background-image: url("6.jpg");
    display: block;
  /*height: 200px;*/
  /*width: 300px;*/
  background-color: grey;
  /*margin: 0 auto;*/
  transition: box-shadow 0.1s, transform 0.1s;
  
  /*
    * Adding image to the background
    * No relation to the hover effect.
    */
  /*background-size: 100%;*/
  background-repeat: no-repeat;
}
.fc2:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
}
#fade img{
    width: 400px;
    height: 400px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.8);
}
#fc:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#fc-head{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: yellow;
    font-weight: bold;
    padding-top: 50px;
    text-transform: uppercase;
    color: gray;
}
#client-section{
    margin-top: 80px;
    background-color: #F7F7F7;
    text-align: center;
}
#client-head{
    font-size: 50px;
    color: gray;
    text-decoration: underline;
    text-decoration-color: yellow;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
#client-text{
    font-size: 16px;
    padding-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;
}
#contact{
    position: relative;
}
#corner{
    position: absolute;
    right: 0;
    bottom: 0;
}
#corner-image{
    z-index: 0;
}
#contact-head{
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: yellow;
    color: gray;
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}
#contact-section{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
/*    width: 1000px;*/
    justify-content: center;
    padding-bottom: 100px;
}
#google-maps{
/*    width: 400px;*/
/*    background-color: pink;*/
    grid-column-start: 1;
    grid-column-end: 3;
}
#google-forms{
/*    background-color: #F7F7F7;*/
    width: 400px;
}
#form{
    padding-left: 0px;
}
#form iframe{
    width: 400px;
}
#contact-us{
/*    background-color: #F7F7F7;*/
    width: 410px;
}
#inquiry, #contact-us-head{
    font-weight: bold;
    font-size: 25px;
    padding: 30px 20px 20px;
    text-decoration: underline;
    text-decoration-color: yellow;
}
#inquiry-text{
    padding: 0px 20px 20px;
}
#italics{
    font-style: italic;
    padding-bottom: 20px;
}
#band-text{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#inner-text{
/*    padding-left: 80px;*/
    border-right: 2px solid white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
#inner-text:hover{
    font-weight: 500;
	transform: scale(.8);
	transition: transform 0.5s;
    cursor: default;
    color: black;
}
#google-forms iframe{
    height: 400px;
}
.text1 h3{
    font-size: 16px;
    padding-top: 20px;
}
.text1 p{
    font-size: 14px;
}
.no{
    border: none;
    border-color: yellow;
}
#overlay-head{
    font-size: 30px;
}
#overlay-text{
    font-size: 14px;
}
#contact-content{
    font-size: 16px;
    padding-left: 20px;
}
#quote{
    font-weight: bold;
    font-size: 27px;
    text-decoration: underline;
    text-decoration-color: yellow;
    padding-top: 20px;
}
#copyright{
    background-color: white;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    z-index: 99;
}
#corner-image{

}
.carousel-caption h3{
    /*font-size: 20px;*/
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 20px;
}
.carousel-caption h3:hover{
    /*font-size: 25px;*/
    background-color: rgba(255,255,255,0.5);
    color: black;
    transform: scale(.9);
    transition: transform 2s;
    cursor: pointer;
}
.strip{
    float: right;
}
.strip img{
    width: 800px;
    height: 20px;
}
#our-reach{
  padding-top: 125px;
}
@media(max-width:1550px) and (min-width:1450px){

    #text{
        font-size: 2.6rem;
        width: 83%;
    }
    .grid{
        margin-left: 200px;
        margin-right: 200px;
    }
    .navbar-nav{
    margin-left: 0px;
}
     #extratext{
        margin-top: 6em;
        font-size: 1.4rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}
@media(max-width:1449px) and (min-width:1351px){
    .grid{
        margin-left: 200px;
        margin-right: 200px;
    }
    #extratext{
        margin-top: 1.5em;
        font-size: 1.4rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .navbar-nav{
    margin-left: 0px;
}
#second-grid{
  margin-left: 350px;
  margin-right: 350px;
}
}
@media(max-width:1350px) and (min-width:1287px){
    .navbar-nav{
    margin-left: 0px;
}
    #text{
        font-size: 1.8rem;
        width: 83%;
    }
    #extratext{
        margin-top: 2.5em;
        font-size: 1.4rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .grid{
        margin-left: 100px;
        margin-right: 100px;
    }
    #who-text-head{
        font-size: 40px;
        padding-bottom: 20px;
    }
    #who{
/*        display: block;*/
    }
    #who-text{
        margin-left: 50px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 00px;
/*        width: 600px;*/
    }
     #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 00px;
/*        width: 600px;*/
    }
    #client-text{
        margin-left: 250px;
        margin-right: 250px;
    }
    #second-grid{
  margin-left: 350px;
  margin-right: 350px;
}
#second-grid > article{
  /*width: 350px;*/
}
#first-card{
  /*padding-right: 20px;*/
  /*margin-right: 80px;*/
}
.grid{
  /*grid-gap: 50px;*/
}
}
@media(max-width:1287px) and (min-width:1250px){
    #text{
        font-size: 1.8rem;
        width: 83%;
    }
    #extratext{
        margin-top: 2em;
        font-size: 1.2rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    #normal{
        font-size: 15px;
    }
    .grid{
        margin-left: 100px;
        margin-right: 100px;
    }
    #who-text-head{
        font-size: 40px;
        padding-bottom: 20px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    #who-text{
     margin-left: 150px;
    }
    .navbar-nav{
    margin-left: 0px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 00px;
        width: 500px;
    }
    #who-image-2{
        margin-left: 00px;
        width: 500px;
    }
     #client-text{
        margin-left: 250px;
        margin-right: 250px;
    }
    #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 50px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 98vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #second-grid{
  margin-left: 290px;
  margin-right: 290px;
  width: 700px;
}
}
@media(max-width:1249px) and (min-width:1217px){
    #text{
        font-size: 1.7rem;
        width: 83%;
    }
    #extratext{
        margin-top: 2.5em;
        font-size: 1.4rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .grid{
        margin-left: 50px;
        margin-right: 50px;
    }
    #who-text-head{
        font-size: 40px;
        padding-bottom: 20px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    #who-text{
     margin-left: 150px;
    }
    .navbar-nav{
    margin-left: 0px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 00px;
        width: 500px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 00px;
        width: 500px;
    }
     #client-text{
        margin-left: 250px;
        margin-right: 250px;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 50px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 98vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
        #second-grid{
  margin-left: 270px;
  margin-right: 270px;
  width: 700px;
}
}
@media(max-width:1216px) and (min-width:1080px){
    #text{
        font-size: 1.8rem;
        width: 83%;
    }
    #extratext{
        margin-top: 2.5em;
        font-size: 1.4rem;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    #normal{
        font-size: 14px;
    }
    .navbar-nav{
    margin-left: 0px;
}
    .grid{
        margin-left: 220px;
    }
    .grid{
        margin-left: 200px;
        grid-gap: 21px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #who{
/*        display: block;*/
         grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    #who-text{
     margin-left: 50px;
        font-size: 15px;
        width: 350px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 30px;
        width: 400px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 30px;
        width: 400px;
    }
     #client-text{
        margin-left: 200px;
        margin-right: 200px;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 80px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 97vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 75%;
    }
    #second-grid{
  margin-left: 320px;
  margin-right: 320px;
  width: 700px;
}
}
@media(max-width:1079px) and (min-width:950px){
    .navbar-nav{
    margin-left: 0px;
}
    #text{
        font-size: 1.8rem;
        width: 83%;
        margin-top: -12em;
    }
    #extratext{
        margin-top: 3.5em;
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: auto;
        width: 53%;
    }
    #normal{
        font-size: 14px;
    }
    .grid{
        margin-left: 220px;
    }
    .grid{
        margin-left: 120px;
        margin-right: 100px;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #who{
/*        display: block;*/
         grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    #who-text{
     margin-left: 50px;
        font-size: 15px;
        width: 350px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 30px;
        width: 400px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 30px;
        width: 400px;
    }
     #client-text{
        margin-left: 200px;
        margin-right: 200px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .yellow{
        display: none;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 160px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 90vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 80%;
    }
    #second-grid{
  margin-left: 280px;
  margin-right: 280px;
  width: 700px;
}
}

@media(max-width:950px) and (min-width:785px){
    .navbar-nav{
    margin-left: 0px;
}
    video{
/*        overflow: hidden;*/
    }
    #text{
        font-size: 1.5rem;
        width: 83%;
        margin-top: -15em;
    }
    #extratext{
        margin-top: 5.5em;
        font-size: 1.2rem;
        /*margin-left: 150px;*/
    }
    #normal{
        font-size: 13px;
    }
    .grid{
        margin-left: 80px;
        margin-right: -400px;
        padding-left: 0px;
        grid-gap: 21px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #who-text{
     margin-left: 50px;
        font-size: 15px;
        width: 350px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 150px;
        width: 400px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 150px;
        width: 400px;
    }
     #client-text{
        margin-left: 180px;
        margin-right: 180px;
    }
    #google-forms{
        width: 300px;
    }
    #contact-us{
        width: 300px;
    }
    #google-maps iframe{
        width: 610px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .yellow{
        display: none;
    }
    #fade img{
        width: 300px;
        height: 300px;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 150px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 85vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 80%;
    }
    #second-grid{
  margin-left: 210px;
  margin-right: 210px;
  width: 700px;
}
}
@media(max-width:784px) and (min-width:689px){
    video{
/*        overflow: hidden;*/
    }
    #text{
        font-size: 1.5rem;
        width: 83%;
        margin-top: -18em;
    }
    #extratext{
        margin-top: 10em;
        font-size: 1rem;
        /*margin-left: 120px;*/
    }
    #normal{
        font-size: 12px;
    }
    .grid{
        margin-left: 90px;
        margin-right: -500px;
        padding-left: 0px;
        grid-gap: 21px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #who-text{
     margin-left: 20px;
        font-size: 15px;
        width: 250px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 50px;
        width: 300px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 0px;
        width: 300px;
    }
     #client-text{
        margin-left: 160px;
        margin-right: 250px;
    }
    #google-forms{
        width: 300px;
    }
    #contact-us, #expertise-head{
        width: 300px;
    }
    #google-maps iframe{
        width: 610px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .yellow{
        display: none;
    }
    #fade img{
        width: 300px;
        height: 300px;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 150px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 85vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 80%;
    }
    #logo{
        height: 120px;

    }
    #second-grid{
  margin-left: 200px;
  margin-right: 200px;
  width: 700px;
}
#mapid{
  width: 500px !important;

}
}
@media(max-width:689px) and (min-width:500px){
    video{
/*        overflow: hidden;*/
    }
    #text{
        /*margin-top: -100px;*/
        font-size: 1.4rem;
        width: 83%;
        margin-top: -20em;
    }
    #extratext{
        padding-top: 80px;
        /*margin-top: -50em;*/
        font-size: 1rem;
        /*margin-left: 60px;*/
    }
    #normal{
        font-size: 12px;
    }
    .grid{
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 0px;
        grid-gap: 21px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
        
    }
    h3{
        font-size: 15px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    #who-text{
     margin-left: 50px;
        font-size: 15px;
        width: 450px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 80px;
        width: 300px;
    }
     #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 80px;
        width: 300px;
    }
    #fade img{
        width: 200px;
        height: 200px;
    }
     #client-text{
        margin-left: 50px;
        margin-right: 50px
    }
    #google-forms{
        width: 200px;
    }
    #contact-us{
        width: 200px;
    }
    #google-maps iframe{
        width: 420px;
    }
    #form iframe{
        width: 180px;
        height: 400px;
    }
    #form{
        padding-left: 10px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .text1 h3{
    font-size: 14px;
    padding-top: 20px;
}
    #who-text-head{
        font-size: 20px;
    }
    #band-header{
        font-size: 20px;
    }
    
.text1 p{
    font-size: 9px;
}
    #italics, #about-text{
        font-size: 9px;
    }
    #inner-text{
        font-size: 9px;
    }
    #client-head{
        font-size: 20px;
    }
    #contact-head{
        font-size: 20px;
    }
    #quote{
        font-size: 20px;
    }
    #inquiry{
        font-size: 20px;
    }
    #contact-us-head{
        font-size: 20px;
    }
    .yellow{
        display: none;
    }
    #overlay-head{
        font-size: 10px;
    }
    #overlay-text{
        font-size: 6px;
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 150px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 80vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 90%;
    }
    #logo{
        height: 100px;
    }
    #second-grid{
  margin-left: 170px;
  margin-right: 170px;
  width: 700px;
}
#mapid{
  width: 450px !important;
}
#contact-head, #expertise-head, #band-header, #fc-head, #client-head{
        font-size: 20px;
    }
}
@media(max-width:599px) and (min-width:499px){
    video{
/*        overflow: hidden;*/
    }
    #text{
        font-size: 1.2rem;
        width: 83%;
        margin-top: -20em;
    }
    #extratext{
        margin-top: 4em;
    }
    #normal{
        font-size: 12px;
    }
    .grid{
        margin-left: 30px;
        margin-right: -300px;
        padding-left: 0px;
        grid-gap: 21px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #band-header{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
    #who{
/*        display: block;*/
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    #who-text{
     margin-left: 50px;
        font-size: 15px;
        width: 350px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 80px;
        width: 300px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 80px;
        width: 300px;
    }
    #fade img{
        width: 200px;
        height: 200px;
    }
     #client-text{
        margin-left: 50px;
        margin-right: 50px
    }
    #google-forms{
        width: 200px;
    }
    #contact-us{
        width: 200px;
    }
    #google-maps iframe{
        width: 420px;
    }
    #form iframe{
        width: 180px;
        height: 400px;
    }
    #form{
        padding-left: 10px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .text1 h3{
    font-size: 14px;
    padding-top: 20px;
}
    #who-text-head{
        font-size: 20px;
    }
    #band-header{
        font-size: 40px;
    }
    #fc-head{
        font-size: 40px;
    }
    
.text1 p{
    font-size: 9px;
}
    #italics, #about-text{
        font-size: 9px;
    }
    #inner-text{
        font-size: 9px;
    }
    #client-head{
        font-size: 20px;
    }
    #contact-head, #expertise-head, #band-header, #fc-head, #client-head{
        font-size: 20px;
    }
    #quote{
        font-size: 20px;
    }
    #inquiry{
        font-size: 20px;
    }
    #contact-us-head{
        font-size: 20px;
    }
    #overlay-head{
        font-size: 10px;
    }
    #overlay-text{
        font-size: 6px;
    }
    #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 100px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        /*width: 70%;*/
        height: 50%;
        /*right: 0;*/
        /*position: absolute;*/
    }
    #demo{
        width: 90%;
    }
    #logo{
        height: 100px;
    }
    #second-grid{
  margin-left: 80px;
  margin-right: auto;
  /*widsth: 500px;*/
}
#mapid{
  width: 400px !important;
}
    
}
@media(max-width:499px){
    *{
/*        overflow: hidden;*/
    }
    #text{
        font-size: 1.2rem;
        width: 93%;
        margin-top: -20em;
    }
    .grid{
        margin-left: 10px;
        grid-gap: 21px;
        margin-right: 10px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    #extratext{
        margin-top: 4em;
    }
    #normal{
        font-size: 11px;
    }
    .grid img{
        
    }
    #expertise-head{
        font-size: 30px;
    }
    #who-text-head{
        font-size: 30px;
        padding-bottom: 20px;
    }

    #who{
        
        
    }
    #band-header{
        font-size: 30px;
    }
    h3{
        padding: 20px;
        font-size: 20px;
    }
    video{
        overflow: hidden;
    }
    #who-text{
     margin-left: 20px;
        width: 300px;
    }
    #who-image{
/*        border: 10px solid black;*/
        margin-left: 20px;
        width: 300px;
        height: 200px;
    }
    #who-image-2{
/*        border: 10px solid black;*/
        margin-left: 20px;
        width: 50%;
        height: 10vh !important;
    }
    #fade img{
        width: 150px;
        height: 150px;
    }
     #client-text{
        margin-left: 50px;
        margin-right: 50px;
}
    #google-forms{
        width: 150px;
    }
    #google-forms, #contact-us{
        background-color: white;
    }
    #contact-us{
        width: 150px;
    }
    #google-maps iframe{
        width: 320px;
    }
    #form iframe{
        width: 300px;
        height: 400px;
        padding-top: 100px;
    }
    #inquiry, #contact-us-head{
        font-size: 20px;
    }
    #form{
        padding-left: 20px;
    }
    #inquiry-text, #contact-content{
        font-size: 12px;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .text1 h3{
    font-size: 14px;
    padding-top: 20px;
}
#extratext{
    margin-left: 5px;
    font-size: 12px;
    margin-right: 45px;
    width: 100%;
    /*background-color: blue;*/
    overflow-wrap: break-word;
    margin-top: 75px;
    padding: 0px;
    display: block;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
    #who-text-head{
        font-size: 20px;
    }
    #band-header{
        font-size: 20px;
    }
     #fc-head{
        font-size: 20px;
    }
    #expertise-head{
        font-size: 20px;
    }
    
.text1 p{
    font-size: 9px;
}
    #italics, #about-text{
        font-size: 9px;
    }
    #inner-text{
        font-size: 9px;
    }
    #client-head{
        font-size: 20px;
    }
    #contact-head{
        font-size: 20px;
    }
    #quote{
        font-size: 16px;
    }
    #inquiry{
        font-size: 20px;
    }
    #contact-us-head{
        font-size: 20px;
    }
    #overlay-head{
        font-size: 10px;
    }
    #overlay-text{
        font-size: 6px;
    }
    #copyright{
        /*margin-top: 50px;*/
    }
     #copyright{
        /*margin-top: -100px;*/
        /*margin-bottom: 50px;*/
        padding-bottom: 150px;
        padding-top: 0;
        /*z-index: 1000;*/
    }
    #corner{
        /*position: relative;*/
    }
    #corner-image img{
        width: 70vh;
        height: 50%;
        right: 0;
        /*position: absolute;*/
    }
    #demo{
        width: 96%;
    }
    #logo{
        height: 80px;
        width: 250px;
    }
    .strip img{
        height: 15px;
        width: 300px;
    }
    #second-grid{
  margin-left: 0px;
  /*margin-right: 500px;*/
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
#mapid{
  width: 300px !important;
  margin-bottom: 20px;
  height: 300px !important;
}
#expertise-head{
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.carousel-caption h3{
  font-size: 15px;
}
#client-section{
    margin-top: 20px;
  }
  #expertise-head{
    padding-top: 10px;
  }

}

@media(min-width:1475px){
    .navbar-nav{
    margin-left: 550px;
}
    .yellow{
    /*position: absolute;
    left: 400px;
    background-color: yellow;
    height: 100%;
    width: 25px;*/
}
}
    